#gameBoard{
    -fx-background-color: steelblue;
    -fx-background-size: cover;
}

.schemeCard{
    -fx-background-image: url("window_pattern_card/prova-img.png");
    -fx-background-size: cover;
}

.schemeCardChoice:hover{
        -fx-scale-x: 1.10;
        -fx-scale-y: 1.10;
        -fx-scale-y: 1.10;
}

.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.button:pressed {
    -fx-background-color: pink;
    -fx-background-size: cover;
}

#reserve{
    -fx-background-image: url("other/wood.png");
    -fx-background-size: cover;
}

.card:hover {
    -fx-scale-x: 2.0;
    -fx-scale-y: 2.0;
    -fx-scale-z: 2.0;
}

.cartaUtensile:hover {
    -fx-scale-x: 1.5;
    -fx-scale-y: 2.0;
    -fx-scale-z: 2.0;
}

#choose-card-window{
    -fx-background-image: url("other/wood.png");
    -fx-background-size: cover;
}

#play{
    -fx-background-color: linear-gradient(firebrick, burlywood);
    -fx-background-radius: 10;
    -fx-background-size: cover;
}

#play:hover {
    -fx-background-color: firebrick;
}
#play:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

#passButton{
    -fx-background-color: linear-gradient(lightgreen, lightseagreen);
    -fx-background-radius: 10;
    -fx-background-size: cover;
}

#passButton:hover {
    -fx-background-color: lightseagreen;
}

#passButton:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.reserveDice:hover {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.reserveDice:focused {
    -fx-background-color: pink;
    -fx-background-size: cover;
}

#quit {
    -fx-background-color: linear-gradient(darkgrey, grey);
    -fx-background-radius: 10;
    -fx-background-size: cover;
}

#quit:hover {
         -fx-background-color: grey;
}

#quit:pressed {
     -fx-scale-y: 0.9;
     -fx-scale-x: 0.9;
 }

 #gameBoardQuit {
     -fx-background-color: linear-gradient(red, crimson);
     -fx-background-radius: 10;
     -fx-background-size: cover;
 }

 #gameBoardQuit:hover {
          -fx-background-color: red;
 }

 #gameBoardQuit:pressed {
      -fx-scale-y: 0.9;
      -fx-scale-x: 0.9;
  }