.root {
   -fx-background-image: url("sagrada2.jpg");
   -fx-background-size: cover;
}

.label, #Button{
    -fx-font-size: 14pt;
    -fx-font-family: "Courier New";
    -fx-font-weight:bold;
    -fx-text-fill: white;
    -fx-opacity: 1.0;
}

#username_input, #serverAddress_input{
    -fx-background-color:transparent;
    -fx-text-fill: white;
}

#choose{
    -fx-font-size: 10pt;
    -fx-font-style: italic;
}

#Button{
   -fx-border-radius:8px;
   -fx-background-radius:16px;
   -fx-border-width:4px;
}


